@model IEnumerable<NFT.MvcWebPage.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/MainTable.css")

<h2>Employees</h2>
<button type="button" id="addButton">Add</button>
<button type="button" id="cancelButton">Cancel</button>
<table id="employees">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>IsGettingBonus</th>
        <th>UniversityId</th>
        <th>Info</th>
    </tr>
    @{
        foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Salary</td>
                <td>@employee.IsGettingBonus</td>
                <td>@employee.UniversityId</td>
                <td>@employee.Info</td>
            </tr>
        }
    }
</table>

@section scripts
{
    <script>
        $("#cancelButton").hide();
        $("#addButton").click(function () {
            if ($("#addButton").text() == "Add") {
                $('#employees tr:last').after("<tr id=\"lastTr\"><td></td><td><input type=\"text\" id=\"addName\"/></td><td><input type=\"text\" id=\"addSurname\"/></td><td><input type=\"text\" id=\"addSalary\"/></td><td><input type=\"checkbox\" id=\"addIsBonus\"/></td><td><input type=\"number\" id=\"addUnivId\"/></td><td><input type=\"text\" id=\"addInfo\"/></td></tr>");
                $("#addButton").text("Save");
                $("#cancelButton").show();
            }
            else if ($("#addButton").text() == "Save") {
                alert("save-i mej a");
                $("#addButton").text("Add");
                $("#cancelButton").hide();
                $.ajax({
                    type: "POST",
                    url: "/Home/AddEmployee",
                    data: { toAdd: [$("#addName").val(), $("#addSurname").val(), $("#addSalary").val(), $("#addIsBonus").val(), $("#addUnivId").val(), $("#addInfo").val(),]},
                    success: function () {
                        alert("success elav");
                        $("#addButton").text("Add");
                        $("#cancelButton").hide();
                    }
                });
            }
        });
        $("#cancelButton").on("click", function () {
            $("#lastTr").remove();
        });
    </script>
}
