@model IEnumerable<NFT.MvcWebPage.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/MainTable.css")

<h2>Employees</h2>
<table id="employees">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>IsGettingBonus</th>
        <th>UniversityId</th>
        <th>Info</th>
    </tr>
    @{
        foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Salary</td>
                <td>@employee.IsGettingBonus</td>
                <td>@employee.UniversityId</td>
                <td>@employee.Info</td>
            </tr>
        }
    }
</table>

@*<h2>Create</h2>
    @Html.ValidationSummary(true)
    <div class="form-group">
        @using (Html.BeginForm())
        {
            <p>
                @Html.LabelFor(m => m.Name)
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </p>
            <p>
                @Html.LabelFor(m => m.Surname)
                @Html.EditorFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </p>
            <p>
                @Html.LabelFor(m => m.Salary)
                @Html.EditorFor(m => m.Salary)
                @Html.ValidationMessageFor(m => m.Salary)
            </p>
            <p>
                @Html.LabelFor(m => m.IsGettingBonus)
                @Html.EditorFor(m => m.IsGettingBonus)
                @Html.ValidationMessageFor(m => m.IsGettingBonus)
            </p>
            <p>
                @Html.LabelFor(m => m.Info)
                @Html.EditorFor(m => m.Info)
                @Html.ValidationMessageFor(m => m.Info)
            </p>
            <p><input type="submit" value="Save" /></p>
        }
    </div>*@