@model IEnumerable<NFT.MvcWebPage.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/MainTable.css")

<h2>Employees</h2>
<button type="button" id="addButton">Add</button>
<button type="button" id="deleteButton">Delete</button>
<button type="button" id="cancelButton">Cancel</button>

<div id="helpTrigger" class="helpTrigger"></div>
<div id="helpContent" style="display:none"></div>

<table id="employees">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>IsGettingBonus</th>
        <th>UniversityId</th>
        <th>Info</th>
    </tr>
    @{
        foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Salary</td>
                <td>@employee.IsGettingBonus</td>
                <td>@employee.UniversityId</td>
                <td>@employee.Info</td>
                <td class="chbox"><input type="checkbox" name="deleteBox" value="" class="checkbox" /></td>
            </tr>
        }
    }
</table>

@section scripts
{
    <script>
        //alert("mtanq script");
        var ids = [];

        $(".chbox").hide();
        $("#cancelButton").hide();
        $("#addButton").on("click", addTextBoxes);
        $("#deleteButton").on("click", deleteToConfirm);
        $("#cancelButton").on("click", saveToAdd);
        $(".checkbox").on("check", function () {
            ids.push($(this).parent().children()[0].innerText);
        });
        $(".checkbox").on("uncheck", function () {
            var index = ids.indexOf($(this).parent().children()[0].innerText);
            if (index != -1) ids.splice(index, 1);
        });

        function saveEmployee() {
                $.ajax({
                    url: '@Url.Action("AddEmployee")',
                    dataType: "json",
                    type: "POST",
                    data: { toAdd: [$("#addName").val(), $("#addSurname").val(), $("#addSalary").val(), $("#addIsBonus").is(":checked") ? true : false, $("#addUnivId").val(), $("#addInfo").val(),] }
                //    success: function (result) {
                //        //$("#helpContent").empty().append(result);
                //        //$("#helpContent").show();
                //        //$("#addButton").removeClass("helpTrigger").addClass("closeTrigger");
                //        saveToAdd();
                //        history.go(0);
                //}
            });
            saveToAdd();
            window.location.href = window.location.href;
        }

        function addTextBoxes() {
            //$("#helpContent").empty();
            //$("#helpContent").hide();
            //$("#helpTrigger").removeClass("closeTrigger").addClass("helpTrigger");
            $('#employees tr:last').after("<tr id=\"lastTr\"><td></td><td><input type=\"text\" id=\"addName\"/></td><td><input type=\"text\" id=\"addSurname\"/></td><td><input type=\"text\" id=\"addSalary\"/></td><td><input type=\"checkbox\" id=\"addIsBonus\"/></td><td><input type=\"number\" id=\"addUnivId\"/></td><td><input type=\"text\" id=\"addInfo\"/></td></tr>");
            $("#addButton").text("Save");
            $("#cancelButton").show();
            $("#addButton").unbind("click");
            $("#addButton").click(saveEmployee);
        }

        function saveToAdd() {
            $("#addButton").unbind("click");
            $("#addButton").click(addTextBoxes);
            $("#addButton").text("Add");
            $("#cancelButton").hide();
            $("#lastTr").remove();
        }

        function deleteToConfirm() {
            $(".chbox").show();
            $("#deleteButton").text("Confirm");
        }

        function submitDelete() {
            $.ajax({
                url: '@Url.Action("RemoveEmployeesByIds")',
                data: { 'ids': ids },
                type: "DELETE",
                dataType: "json"
            });
            deleteToConfirm();
            window.location.href = window.location.href;
        }

        function confirmToDelete() {

        }

    </script>
}
