@model IEnumerable<NFT.MvcWebPage.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/MainTable.css")
@Styles.Render("~/Content/MessagePopUp.css")

<h2>Employees</h2><i class="icon-heart"></i><i class="icon-heart"></i><i class="icon-heart"></i>
<div class="btn-group">
    <button type="button" id="addButton">Add</button>
    <button type="button" id="deleteButton">Delete</button>
    <button type="button" id="cancelButton">Cancel</button>
    <button type="button" id="testButton">Test</button>
</div>

<div id="helpTrigger" class="helpTrigger"></div>
<div id="helpContent" style="display:none"></div>

<div class="popup" onclick="myFunction()">
    Click me!
    <span class="popuptext" id="myPopup">Popup text...</span>
</div>

<table id="employees">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>IsGettingBonus</th>
        <th>UniversityId</th>
        <th>Info</th>
        <th>Edit</th>
        <th id="checkallTh"><input id="checkall" type="checkbox" name="checkall" value="" /></th>
    </tr>
    @{
        foreach (var employee in Model)
        {
            <tr id="@employee.Id">
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Salary</td>
                <td>@employee.IsGettingBonus</td>
                <td>@employee.UniversityId</td>
                <td>@employee.Info</td>
                <td><img src="@Url.Content("~/App_Data/edit.jpg")" class="editImg" /></td>
                <td class="chbox"><input type="checkbox" value="" /></td>
            </tr>
        }
    }
</table>

@section scripts
{
    <script src="~/Scripts/MyScripts/Table.js"></script>
}
