@model IEnumerable<NFT.MvcWebPage.Models.Employee>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/MainTable.css")
@Styles.Render("~/Content/MessagePopUp.css")

<h2>Employees</h2>
<button type="button" id="addButton">Add</button>
<button type="button" id="deleteButton">Delete</button>
<button type="button" id="cancelButton">Cancel</button>
<button type="button" id="testButton">Test</button>

<div id="helpTrigger" class="helpTrigger"></div>
<div id="helpContent" style="display:none"></div>

<div class="popup" onclick="myFunction()">
    Click me!
    <span class="popuptext" id="myPopup">Popup text...</span>
</div>

<table id="employees">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Salary</th>
        <th>IsGettingBonus</th>
        <th>UniversityId</th>
        <th>Info</th>
        <th>Edit</th>
        <th id="checkallTh"><input id="checkall" type="checkbox" name="checkall" value="" /></th>
    </tr>
    @{
        foreach (var employee in Model)
        {
            <tr id="@employee.Id">
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Salary</td>
                <td>@employee.IsGettingBonus</td>
                <td>@employee.UniversityId</td>
                <td>@employee.Info</td>
                <td><img src="@Url.Content("~/App_Data/edit.jpg")" /></td>
                <td class="chbox"><input type="checkbox" value="" /></td>
            </tr>
        }
    }
</table>

@section scripts
{
    <script>
        $("#testButton").click(function () {
            $.ajax({
                url: '@Url.Action("Test")',
                dataType: "json",
                type: "GET",
                success: function (result) {
                    console.log('<tr id="' + result + '"><td>' + result + '</td><td>' + $("#addName").val() + '</td><td>' + $("#addSurname").val() + '</td><td>' + $("#addIsBonus").is(":checked") + '</td><td>' + $("#addUnivId").val() + '</td><td>' + $("#addInfo").val() + '</td></tr>');
                }
            });
        });

        var rowTemplate = '<tr id="{id}"><td>{id}</td><td>{name}</td><td>{surname}</td><td>{salary}</td><td>{isBonus}</td><td>{univId}</td><td>{info}</td><td><img src="@Url.Content("~/App_Data/edit.jpg")"></td><td class="chbox"><input type="checkbox" value="" /></td></tr>';

        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
        //alert("mtanq script");
        var ids = [];

        $(".chbox").hide();
        $("#checkallTh").hide();
        $("#cancelButton").hide();
        $("#addButton").on("click", addTextBoxes);
        $("#deleteButton").on("click", deleteToConfirm);
        $("#cancelButton").on("click", function () { saveToAdd(); confirmToDelete(); });
        $('#checkall').click(function () {
            var checked = $(this).prop('checked');
            $("input[type='checkbox']").prop('checked', checked);
        });
        $(":checkbox").on("change", function () {
            if (this.checked) {
                //ids.push($(this).parent().parent().children().first().text());
                ids.push($(this).closest("tr").attr("id"));
            } else {
                var index = ids.indexOf($(this).closest("tr").attr("id"));
                if (index != -1) ids.splice(index, 1);
            }
        });

        function addRow(result) {
            var addName = $("#addName").val() ? $("#addName").val() : "no name";
            var addSurname = $("#addSurname").val() ? $("#addSurname").val() : "no surname";
            var addSalary = $("#addSalary").val() ? $("#addSalary").val() : 0;
            var addIsBonus = $("#addIsBonus").is(":checked") ? true : false
            var addUnivId = $("#addUnivId").val() ? $("#addUnivId").val() : 1
            var addInfo = $("#addInfo").val() ? $("#addInfo").val() : "no info";
            $('#employees tr:last').after(rowTemplate.replace(/{id}/g, result).replace("{name}", addName).replace("{surname}", addSurname).replace("{salary}", addSalary).replace("{isBonus}", addIsBonus).replace("{univId}", addUnivId).replace("{info}",addInfo));
            $(".chbox").hide();
        }

        function saveEmployee() {
                $.ajax({
                    url: '@Url.Action("AddEmployee")',
                    dataType: "json",
                    type: "POST",
                    data: { toAdd: [$("#addName").val(), $("#addSurname").val(), $("#addSalary").val(), $("#addIsBonus").is(":checked") ? true : false, $("#addUnivId").val(), $("#addInfo").val()] },
                    success: function (result) {
                        //$("#helpContent").empty().append(result);
                        //$("#helpContent").show();
                        //$("#addButton").removeClass("helpTrigger").addClass("closeTrigger");
                        addRow(result);
                        saveToAdd();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.statusText);
                        alert(thrownError);
                    }
                });
        }

        function addTextBoxes() {
            //$("#helpContent").empty();
            //$("#helpContent").hide();
            //$("#helpTrigger").removeClass("closeTrigger").addClass("helpTrigger");
            $('#employees tr:last').after("<tr id=\"addBlocks\"><td></td><td><input type=\"text\" id=\"addName\"/></td><td><input type=\"text\" id=\"addSurname\"/></td><td><input type=\"text\" id=\"addSalary\"/></td><td><input type=\"checkbox\" id=\"addIsBonus\"/></td><td><input type=\"number\" id=\"addUnivId\"/></td><td><input type=\"text\" id=\"addInfo\"/></td></tr>");
            $("#addBlocks").animate({ height: "200px" });
            $("#addBlocks").animate({ height: "" });
            $("#addButton").text("Save");
            $("#cancelButton").show();
            $("#addButton").unbind("click");
            $("#addButton").on("click", saveEmployee);
        }

        function saveToAdd() {
            $("#addButton").unbind("click");
            $("#addButton").click(addTextBoxes);
            $("#addButton").text("Add");
            $("#cancelButton").hide();
            $("#addBlocks").remove();
        }

        function deleteToConfirm() {
            $(".chbox").show();
            $("#cancelButton").show();
            $("#checkallTh").show();
            $("#deleteButton").text("Confirm");
            $("#deleteButton").unbind("click");
            $("#deleteButton").on("click",submitDelete);
        }

        function submitDelete() {
            if (ids != undefined && ids.length > 0) {
                $.ajax({
                    url: '@Url.Action("RemoveEmployeesByIds")',
                    data: { 'ids': ids },
                    type: "POST",
                    //dataType: "json",
                    success: function (result, status, jqXHR) {
                        for (var i = 0; i < ids.length; i++) {
                            $("#" + ids[i].toString()).remove();
                        }
                        uncheckChecked();
                        confirmToDelete();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.statusText);
                        alert(thrownError);
                    }
                });
            }
        }

        function uncheckChecked() {
            $("input[type='checkbox']").prop('checked', false);
            ids = [];
        }

        function confirmToDelete() {
            $(".chbox").hide("slow", "linear");
            $("#cancelButton").hide();
            $("#checkallTh").hide("slow", "swing");
            $("#deleteButton").text("Delete");
            $("#deleteButton").unbind("click");
            $("#deleteButton").on("click", deleteToConfirm);
        }

    </script>
}
